<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<!--<layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern" 
			value="%m%n" /> </layout> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p: %m%n" />
		</layout>
	</appender>
	<appender name="requestScribeAppender"
		class="com.xm4399.adgame.promotion.log.AsyncScribeAppender">
		<param name="Threshold" value="info" />
		<param name="scribeHost" value="10.0.0.90" />
		<param name="scribePort" value="1464" />
		<param name="scribeCategory" value="adgame_promotion_request" />
		<param name="encoding" value="utf-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p: %m%n" />
		</layout>
	</appender>

	<appender name="search_ad_debug" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="Threshold" value="info" />
		<param name="Append" value="true" />
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern"
				value="logs/search_ad_debug/search_ad_debug.%d{yyyy-MM-dd}.log" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<logger name="search_ad_debug">
		<level value="infos" />
		<!-- <appender-ref ref="search_ad_debug" /> -->
	</logger>

	<logger name="com.xm4399.adgame.promotion.web.interceptor.AuthInterceptor">
		<level value="debug" />
		<!-- <appender-ref ref="requestScribeAppender" /> -->
	</logger>

</log4j:configuration>
